.BuildForm .TextInput label,
.BuildForm .NumberInput label {
  min-width: 120px;
  display: inline-block;
  text-align: left;
  margin-bottom: 8px;
  font-family: "Fira Code", monospace;
}

.BuildForm .NumberInput,
.BuildForm .TextInput {
  background-color: lightslategray;
  margin: 8px;
}

.BuildForm .NumberInput input,
.BuildForm .TextInput input {
  border: 0;
  border-bottom: 2px dashed #602080;
  min-width: 200px;
  padding: 4px;
  font-family: "Fira Code", monospace;
  font-size: 24px;
  color: rebeccapurple;
  background-color: slategray;
}
.BuildForm button {
  font-family: "Fira Code", monospace;
  background-color: darkcyan;
  font-size: 24px;
  border-style: solid;
  padding: 4px 32px;
  margin-top: 16px;
  border-radius: 4px;
  border-color: slategray;
}
.BuildForm button:hover {
  background-color: darkslategray;
}
.BuildForm button:focus-within {
  outline: 1px solid orange;
  background-color: darkslategray;
}
.BuildForm {
  font-size: 24px;
  background-color: lightslategray;
  outline: 0;
  height: 100vh;
  padding-top: 24px;
}

.NumberInput input:focus-within,
.TextInput input:focus-within {
  outline: none;
  background-color: lightblue;
  color: brown;
}
