.Chat {
    border: 1px solid red;
    height: 100vh !important;
    width: 100vw !important;
    min-width: 500px;
    min-height: 500px;
    display:flex;
    flex-direction: column;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Fira code', monospace;
    background-color: aquamarine;

}
.Messages {
    flex-grow: 1;
    border-bottom: 1px solid purple;

}

.InputLine {
    display: flex;
    flex-direction: row;
    padding: 4px;
}
.InputLine * {
    font-size: 16px;
    padding-top: 4px;
    padding-bottom: 4px;
}
.InputLine input{
    flex-grow:1;
    font-family: 'Fira code', monospace;

}
.InputLine span {
    padding-right: 4px;
    padding-left: 4px;
}
.InputLine button {
    padding: 4px 20px;
}
.MessageSource {

}
.MessageSource::before{
    content: '['
}
.MessageSource::after {
    padding-right: 4px;
    content: "] "
}
