.Menu {
  background-image: repeating-linear-gradient(#303030, #101010 1%);
  z-index: 1001;
  position: fixed;
}
.Menu span,
.MenuLink {
  color: rebeccapurple;
  top: 0px;
  font-family: "Fira code", monospace;
  margin: 0px 8px;
  padding: 8px 24px;
  border-radius: 4px;
  border: 4px solid darkcyan;
  background-color: cadetblue;
  box-sizing: border-box;
  display: inline-block;
}
