.BenchmarkResults {
  font-family: "Fira Code", monospace;
  color: orange;
}
.BenchmarkResults table {
  width: 100%;
}
.BenchmarkResults table thead th {
  border-bottom: 1px solid rebeccapurple;
}
.BenchmarkResults .BrowserBenchmarkResult td {
  border-bottom: 1px solid rebeccapurple;
  padding: 8px;
}
.BenchmarkResults .BrowserBenchmarkResult td {
  border-right: 1px solid rebeccapurple;
}

.BenchmarkResults .BrowserBenchmarkResult td:first-child {
  text-align: left;
  padding-right: 24px;
  border-left: 1px solid rebeccapurple;
}
.BenchmarkResults .BrowserBenchmarkResult td:nth-child(n + 2) {
  text-align: right;
}
.BenchmarkResults th {
  text-align: left;
}
.BenchmarkResults .BrowserBenchmarkResult {
}
.BenchmarkErrors {
}

.BenchmarkPlot canvas {
  width: 200px;
  height: 100px;
  background-color: black;
}
.BenchmarkPlot {
  display: flex;
  justify-content: flex-end;
}
.PlotMinMax {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100px;
  padding-right: 4px;
  font-size: 12px;
}
.BenchmarkPlot .PlotCanvasWrapper {
  /*border-bottom: 1px solid rebeccapurple;*/
  background-color: #101010;
  height: 101px;
}
